body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  margin-top: auto;
}

.last-updated {
  margin-top: auto;
}

.right {
  flex: 1;
  background: repeating-linear-gradient(90deg, #000066, #000000 100px, #000099 100px, #000099 200px);
  color: white;
  padding: 50px;
  text-align: center; /* Align content in the center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align content in the center vertically */
}

h2{
  font-size: 185px;
}